body {
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

.parallax {
    background-image: url(https://idahonews.com/resources/media/a3a84c6e-a972-485b-9dd2-9948f951f222-originalBlur_IMG_2318.JPG?1629699742077);
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

div {
    background-color: #bebebe;
    width: 35%;
    min-width: 300px;
    border: 3px solid black;
    border-radius: 10px;
    opacity: 0.85;
}

h1 {
    font-size: 40px;
    text-align: center;
}

#description {
    font-size: 25px;
    text-align: center;
}

fieldset {
    border: none;
    border-bottom: 1px solid black;
}

label {
    display: block;
    margin: 10px 0;
}

input, select, textarea {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
}

p {
    font-size: 16px;
}

input[name="holiday-thoughts"], input[name="holiday-add"] {
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}

.radio, .checkbox {
    display: inline-block;
    padding-right: 1rem;
    font-size: 16px;
    margin-bottom: 10px;
}

#submit {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 3em;
    font-size: 15px;
    min-width: 300px;
    background-color: #3366cc;
    color: white;
}

input {
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
}